body{
    margin:0;
    padding: 0;
    background-position: center;
    background-size: cover;
    height: 70vh;
    border-radius: 35px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.register{
      position: center;
      width: 330px;
      height:480px;
      background: rgb(11, 18, 32);
      color: rgb(153, 48, 22);
      top: 50%;
      left: 50%;
      position:center;
      transform: translate(60%,5%);
      box-sizing: border-box;
      padding: 20px 30px;
      border-radius: 45px;
}
h4{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 23px;
    border-radius: 5px;

}
.register h4{
    background-color:black;
    border-radius: 45px;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}
.register input 
{
    width: 100%;
    margin-bottom: 18px;
    border-radius: 4px;
}


.register input[type=NAME]
{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
}

.register input[type=USERNAME]
{
    width: 100%;
    margin-bottom: 18px;
    border-radius: 4px;
}
.register input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    height: 20px;
    font-size: 14px;
}

.register input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    color: #fff;
    background: #000;
    font-size: 17px;
    border-radius: 20px;

}
.register input[type="submit"]:hover
{
    cursor: pointer;
    background: #fff;
    color: #000;
    font-weight: bold;

}
.register a{
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    color:rgb(197, 13, 81);
}
.register a:hover{
    color:#fff
}