*{
    margin:0;
    padding: 0;
    background-position: center;
    background-size: cover;
    height: 80vh;
    border-radius: 45px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.main{
      width: 100;
      background: rgb(11, 18, 32)50%;
      background-position: center;
      background-size: cover;
      height:109vh
}
h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2Opx;
    border-radius: 5px;
}
.navbar{
    width: 200px;
    height: 75px;
    margin: auto;

}
.icon{
    width:200px;
    float:left;
    height:70px

}
)