<!DOCTYPE html>
<html lang="en">
<head>
     <title>LOGIN FORM</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon"  href="/favicon.ico"/>
<link rel="icon" type="image/png" href="/favicon.png"/>
</head>


<body style="background-image: url({{ url_for('static', filename='images/123.JPG') }});">
          


</style>
    <div class="login">
         <h4> welcome </h4>
         <form>
             <p>Username</p>
             <input type="text" name= ""placeholder="Enter Username">
             <p>Password</p>
             <input type="password" name=""placeholder="Enter password"<br><br>
             <input type="submit" name=""value="login"<br><br>
             <a href="{{url_for('register')}}">Don't have an account?Sign up</a><br>
              <button type="submit">LOGOUT</button>
             </form>



</body>

</html>  
