<!DOCTYPE html>
<html lang="en">
<head>
     <title>LOGIN FORM</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>


<body style="background-image: url({{ url_for('static', filename='images/123.JPG') }});">
          


</style>
    <div class="login">
         <h4><i class="fa fa-user"></i> welcome </h4>
   

     
         <form action="/login" method="post">
             <p>Username</p>
             <input type="text" name=""placeholder="Enter Username" required autofocus>
             <p>Password</p>
        
             <input type="password" name=""placeholder="Enter password"><br><br>
             <input type="submit" class="btn btn-primary" value="login"><br><br>
             </form>
          <a href="{{url_for('register')}}">Don't have an account?Sign up</a><br>
          <a href="{{url_for('home')}}">return to home Page </a><br>
          <a href ="{{url_for('register')}}">Forgot password</a>
     </div>


</body>

</html>  
