
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
     <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">


</head>




</style>
    <div class="register">
         <h4> welcome </h4
   </div>
<div>
   <form method="post" action='/register'>
       <p>names:</p>
       <input type="text" id="name "placeholder="Enter your names"required autofocus>

       <p>Email</p>
       <input type="email" id="inputEmail" class ="form-control" placeholder="Enter a valid email address" required >
        <p>number</p>
       <input type="number" id="inputnumber" class ="form-control" placeholder="Enter a valid phone number" required autofocus>
        
       <p>Username:</p>
       <input type="text" name= ""placeholder="Enter Username"required autofocus>
       
   
       <p>Password</p>
       <input type="password" id="password"placeholder="Enter password"
       <p>Confirm Password</p>

       <input type="password" id="ConfirmPassword"placeholder="Confirm password"<br>
       <input type="submit" name=""value="CREATE"<br><br>
       
       
  
 <a href="{{url_for('login')}}">Already have an account ?log In</a> <br>

<a href="{{url_for('home')}}">Home Page </a>
</div>
   </form>

</body>

</html>   