<!DOCTYPE html>
<html lang="en">
<head>
     <title>LOGIN FORM</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>


<body style="background-image: url({{ url_for('static', filename='images/123.JPG') }});">
          


</style>
    <div class="login">
         <h4><i class="fa fa-users"></i> welcome </h4>
         <form>
             <p>Username</p>
             <input type="text" name= ""placeholder="Enter Username">
             <p>Password</p>
             <input type="password" name=""placeholder="Enter password"<br><br>
             <input type="submit" name=""value="login"<br><br>
             <input type="checkbox"><span>Remember Me</span><br>

             </form>
          <a href="{{url_for('home')}}"</a><br>
        

     </div>
     <div id="#forgot-pw">
     <form action==""class="form">
      <a href="#"class="close">&times;</a>   
      <h4>Reset Password</h2>  
     <input type="email" name="email" id="email"requird>



</body>

</html>  
